#!/bin/sh
#
# Called by "git commit" with no arguments.  The hook should
# exit with non-zero status after issuing an appropriate message if
# it wants to stop the commit.

cat <<\EOF
Error: Pre-commit Hook prevented this commit.
EOF

exit 1
